@import url('assets/font/karbid.css');
@import url('assets/font/gentium.css');
@import url('assets/font/roboto.css');

#page {
  background-color: #6f767c;
}

a {
  color: #4fa1db;
}

#page h1, #page h2, #page h3, #page h4, #page h5, #page p.author, #page p.publisher {
  font-family: 'ff-karbid-text-web-pro', sans-serif;
  font-weight: normal;
}

/* Cover */

#page header {
  background: #5e8ce2;
}

#page p.publisher {
  background: white;
  color: #5e8ce2;
  font-weight: bold;
  text-align: center;
}
#page p.publisher span.tld {
  color: #cb0078;
}

#page p.author {
  background: #91c0c1;
  color: white;
  font-weight: bold;
  font-size: 45px;
}

#page h1 {
  font-weight: bold;
  background: #91c0c1;
  color: white;
}
@media (width: 768px) { #page h1 { height: 250px; } #page .logo { height: 504px } }

#page .logo {
  background-image: url('assets/img/cover.png');
  background-position: 50%;
  background-size: 100%;
}

/* Chapter title */

#page h2 {
  border-bottom: 5px #00e7e0 solid;
  color: #00817d;
  background-size: 100% !important;
  background-position: 50% !important;
  padding-left: 84px;
  padding-right: 0px;
}

#page h2>span {
  background: rgba(255,255,255,0.8);
  border-radius: 3px 0 0 3px;
  padding: 8px 8px;
  display: block;
}

/* Chapter backgrounds */

#page h2#h2_SG_3251 { background: url('assets/img/img_headings/SG_3251.jpg'); }
#page h2#h2_SG_3224 { background: url('assets/img/img_headings/SG_3224.jpg'); }
#page h2#h2_SG_4356 { background: url('assets/img/img_headings/SG_4356.jpg'); }
#page h2#h2_2394R2 { background: url('assets/img/img_headings/2394R2.jpg'); }
#page h2#h2_2521R1 { background: url('assets/img/img_headings/2521R1.jpg'); }
#page h2#h2_1394R1 { background: url('assets/img/img_headings/1394R1.jpg'); }
#page h2#h2_2492R1 { background: url('assets/img/img_headings/2492R1.jpg'); }
#page h2#h2_0298R1 { background: url('assets/img/img_headings/0298R1.jpg'); }
#page h2#h2_1198R1 { background: url('assets/img/img_headings/1198R1.jpg'); }
#page h2#h2_1228R1 { background: url('assets/img/img_headings/1228R1.jpg'); }
#page h2#h2_1202R1 { background: url('assets/img/img_headings/1202R1.jpg'); }
#page h2#h2_2290R1 { background: url('assets/img/img_headings/2290R1.jpg'); }

/* chapter bottom border */
#page #chapter1>h2, #page #chapter11>h2, #page #chapter21>h2, #page #chapter31>h2 { border-bottom: 5px solid #ddcbcb; }
#page #chapter2>h2, #page #chapter12>h2, #page #chapter22>h2, #page #chapter32>h2 { border-bottom: 5px solid #c97072; }
#page #chapter3>h2, #page #chapter13>h2, #page #chapter23>h2 { border-bottom: 5px solid #bdd1ac; }
#page #chapter4>h2, #page #chapter14>h2, #page #chapter24>h2 { border-bottom: 5px solid #ecd6af; }
#page #chapter5>h2, #page #chapter15>h2, #page #chapter25>h2 { border-bottom: 5px solid #a8817a; }
#page #chapter6>h2, #page #chapter16>h2, #page #chapter26>h2 { border-bottom: 5px solid #e7a390; }
#page #chapter7>h2, #page #chapter17>h2, #page #chapter27>h2 { border-bottom: 5px solid #bed8d7; }
#page #chapter8>h2, #page #chapter18>h2, #page #chapter28>h2 { border-bottom: 5px solid #51514f; }
#page #chapter9>h2, #page #chapter19>h2, #page #chapter29>h2 { border-bottom: 5px solid #566373; }
#page #chapter10>h2, #page #chapter20>h2, #page #chapter30>h2 { border-bottom: 5px solid #5fb8a0; }

#page h3 {
  color: #00a8a2;
}

#page h4 {
  color: #009b96;
}

#page h5 {
  color: #00817d;
}

#page p, #page ul, #page ol, #page li {
  font-family: 'Gentium Book Basic';
  font-weight: 400;
  font-style: normal;
}

#page figure, #page video {
  outline: solid 1px #ddd;
}

/* use color of chapter nav in images color*/
#page #chapter1, #page #chapter11, #page #chapter21, #page #chapter31 figure img {
  border-bottom: 5px solid rgba(221, 203, 203, 0.5);
}
#page #chapter2, #page #chapter12, #page #chapter22, #page #chapter32 figure img {
  border-bottom: 5px solid rgba(201, 112, 114, 0.5);
}
#page #chapter3, #page #chapter13, #page #chapter23 figure img {
  border-bottom: 5px solid rgba(189, 209, 172, 0.5);
}
#page #chapter4, #page #chapter14, #page #chapter24 figure img {
  border-bottom: 5px solid rgba(236, 214, 175, 0.5);
}
#page #chapter5, #page #chapter15, #page #chapter25 figure img {
  border-bottom: 5px solid rgba(168, 129, 122, 0.5);
}
#page #chapter6, #page #chapter16, #page #chapter26 figure img {
  border-bottom: 5px solid rgba(231, 163, 144, 0.5);
}
#page #chapter7, #page #chapter17, #page #chapter27 figure img {
  border-bottom: 5px solid rgba(190, 216, 215, 0.5);
}
#page #chapter8, #page #chapter18, #page #chapter28 figure img {
  border-bottom: 5px solid rgba(81, 81, 79, 0.5);
}
#page #chapter9, #page #chapter19, #page #chapter29 figure img {
  border-bottom: 5px solid rgba(86, 99, 115, 0.5);
}
#page #chapter10, #page #chapter20, #page #chapter30 figure img {
  border-bottom: 5px solid rgba(95, 184, 160, 0.5);
}

.overlay figcaption,
.overlay p,
#page figcaption {
  font-family: 'Roboto', sans-serif;
}

#page blockquote {
  font-family: 'Gentium Book Basic', sans-serif;
  font-weight: 400;
  font-style: italic;
  border-left-color: #cb0078;
}

#page .pop {
  background: #EBE7DB;
}

.overlay figure,
.overlay p {
  border: #cb0078 solid 3px;
}

/* Slideshow */

#page div.slideshow {
  background: #EBE7DB;
}

/* Backmatter */

#page #backmatter {
  background-color: #E5FFFB;
}

#page #backmatter h2 {
  color: #82be66;
}

#page #copyright {
  color: white;
  background: #82be66;
}

#page #backmatter form input {
  -webkit-appearance: none;
  background: white;
  border: #cb0078 solid 1px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px 0 0 3px;
  margin-right: 0px;
}

#page #backmatter form input[type='submit'] {
  background: #cb0078;
  border: #cb0078 solid 1px;
  border-radius: 0 3px 3px 0;
  color: white;
  font-weight: bold;
  line-height: 28px;
  margin-left: 0px;
}

/* Navigation */

nav {
  font-family: 'ff-karbid-text-web-pro', sans-serif;
  font-weight: bold;
}

nav a {
  color: white;
  background-image: url('framework/img/active.png'), url('framework/img/shadow.png');
  background-size: 40px;
  background-position: 256px center, 256px center;
  background-repeat: no-repeat;
}

nav a.active {
  background-color: transparent;
  background-image: url('framework/img/active.png'), url('framework/img/shadow.png');
  background-size: 40px;
  background-position: 216px center, 256px center;
  background-repeat: no-repeat;
}

nav a:hover {
  color: white;
}

nav>ul>li>a,
nav>ul>li>a:hover {
  color: #cccccc;
  font-weight: normal;
  text-align: center;
}

nav ul ul {
  box-shadow: inset 0px 5px 10px 0px rgba(0,0,0,.2), inset 0px -5px 10px 0px rgba(0,0,0,.2);
}

nav>ul>li>ul>li>ul {
  background-color: transparent;
  margin-bottom: 0px;
}